---
name: Deploy

# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

jobs:
  addon:
    name: Deploy ${{ matrix.slug }}
    strategy:
      fail-fast: false
      matrix:
        slug:
          - tailscale
          - zigbee2mqtt
    uses: ./.github/workflows/app-deploy.yaml
    with:
      slug: ${{ matrix.slug }}
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
